
:root {
    /* Primary Colors */
    --primary-color: #050000;
    --primary-dark: #2980b9;
    --primary-light: #000000;

    /* Secondary Colors */
    --secondary-color: #e74c3c;
    --secondary-dark: #070000;
    --secondary-light: #fd7e68;

    /* Neutral Colors */
    --white: #ffffff;
    --black: #000000;
    --gray: #808080;
    --light-gray: #f0f0f0;
    --dark-gray: #333333;

    /* Additional Colors */
    --success: #2ecc71;
    --warning: #f39c12;
    --info: #3498db;
    --error: #e74c3c;
}

/* styles.css */

.button {
    background-color: var(--success);
    color: var(--white);
}

.header {
    background-color: var(--secondary-dark);
    color: var(--white);
}

.footer {
    background-color: var(--light-gray);
    color: var(--dark-gray);
}
.background {
    background-color: #bbfabb;
}
