.homepage-background{
    background: rgb(0,15,0);
    background: linear-gradient(90deg, rgba(0,15,0,1) 0%, rgba(20,47,138,1) 28%, rgba(22,209,202,1) 49%, rgba(20,47,138,1) 80%, rgba(0,15,0,1) 97%);
}

.homepage-task-card{
    transform: translate(-50%, -50%);
    background: black;
    box-sizing: border-box;
    box-shadow: black;
    border-radius: 10px;
    color: white;
}