/*
This css folder is only for navbar styling
*/

/* Apply background color and styles to the navbar */
.navbar {
    padding: 10px 0;
    color: #ffffff;
}

.navbar-placement {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-back-ground {
    background: rgb(0, 15, 0);
    background: linear-gradient(90deg, rgba(0, 15, 0, 1) 0%, rgba(20, 47, 138, 1) 28%, rgba(22, 209, 202, 1) 49%, rgba(20, 47, 138, 1) 80%, rgba(0, 15, 0, 1) 97%);
}

.nav-title {
    font-size: 1.6rem;
    color: white;
}

.title {
    text-decoration-color: white;
    color: white;
}

/* Style the navigation list */
.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Style the list items */
.nav-list li {
    display: inline;
    margin-right: 20px;
}

/* Style the navigation links */
.nav-list li a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* Change link color on hover */
/*.nav-list li a:hover {*/
/*    color: var(--primary-light);*/
/*}*/

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: right; /* Aligns items to the right */
}

.navbar .left {
    list-style: none;
    padding: 0;
    display: flex;
    /* Aligns items to the right */
}

.left {
    justify-content: left;
}

.navbar li {
    margin: 0 10px;
    background-color: rgb(27, 227, 246);
    border: 2px solid #000000;
    border-radius: 15%;
    color: white;
    width: 60px;
    height: 30px;
    text-align: center;
}


.navbar li a:hover {
    background: #03f4f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03f4f4,
    0 0 25px #03f4f4,
    0 0 50px #03f4f4,
    0 0 100px #03f4f4;
}
.navbar-task-lister{

}
.navbar-task-lister a:hover {
    background: #03f4f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03f4f4,
    0 0 25px #03f4f4,
    0 0 50px #03f4f4,
    0 0 100px #03f4f4;
}

.submit-text {
    font-size: 10px;
}
