/*
This css folder is only for navbar styling
*/

/* Apply background color and styles to the navbar */
.navbar {
    background-color: black;
    padding: 10px 0;
    color: #ffffff;
}

.nav-title{
    font-size: 1.6rem;
    color: white;
}
.title{
    text-decoration-color: white;
    color: white;
}
/* Style the navigation list */
.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Style the list items */
.nav-list li {
    display: inline;
    margin-right: 20px;
}

/* Style the navigation links */
.nav-list li a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* Change link color on hover */
.nav-list li a:hover {
    color: var(--primary-light);
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: right; /* Aligns items to the right */
}
.navbar .left {
    list-style: none;
    padding: 0;
    display: flex;
     /* Aligns items to the right */
}
.left {
    justify-content: left;
}
.navbar li {
    margin: 0 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10%;
}

/*.navbar li-left{*/
/*    margin: 0 10px;*/
/*    background-color: white;*/
/*    border: 2px solid black;*/
/*    border-radius: 10%;*/
/*    !*justify-content: left;*!*/
/*}*/
